/* full body styles start here */
.primary-font{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
/* full body styles end here */
/* nav-bar style start here */
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 140px;
}
.nav-title{
    font-weight: 800;
    font-size: 28px;
    color: rgb(13, 19, 33);
}
.nav-btn{
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    margin: 15px 0px;
    padding: 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.9;
}
/* nav-bar style start here */
/* banner-section styles start here */
.banner-section{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.banner-img{
    margin: 20px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-title{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    line-height: 68px;
    margin-bottom: 20px;
    width: 950px;
    height: 135px;
}
.banner-description{
    width: 850px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    word-spacing: 5px;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.7;
}
.banner-btn{
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin: 15px;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}
/* banner-section styles end here */
/* main tag styles start here */
main{
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
}
/* main tag styles end here */
/* web-section styles start here */
.web-section{
    margin: 40px 50px;
}
.web-section-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    text-align: center;
    margin: 10px 20px 47px;
}
.web-section-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    text-align: center;
    opacity: 0.7;
}
/* shared styles start here */
.web-section-box{
    display: flex;
    margin-top: 48px;
    padding: 48px;
    background-color: white;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.web-section-box-content{
    width: 470px;
    height: 180px;
}
.web-box-title{
    color: #0D1321;
    opacity: 90%;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}
.web-box-description{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    opacity: 90%;
    margin-bottom: 32px;
}
.btn-2{
    color: #0D1321;
    opacity: 70%;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    padding: 12px 20px;
    border: 1px solid #0D1321;
    border-radius: 5px;
}
/* shared styles end here */
/* web-section styles end here */
/* inspiration section styles start here */
.inspiration{
    margin: 40px 50px;
    background: white;
}
.inspiration-section-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    text-align: center;
    margin: 10px 20px 47px;
}
.inspiration-section-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
}
iframe{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 20px;
    padding: 30px;
}
/* inspiration section styles end here */
/* target section styles start here */
.target-section{
    margin: 40px 50px;
}
.target-section-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    text-align: center;
    margin: 10px 20px 47px;
}
.target-section-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    text-align: center;
    opacity: 0.7;
    margin-bottom: 40px;
}
.card-container{
    display: flex;
    gap: 24px;
    padding: 40px 50px;
}
/* shared color style start here*/
.color-1{
    background-color: rgba(255, 76, 30, 0.05);
}
.color-2{
    background-color: rgba(0, 76, 232, 0.05);
}
.color-3{
    background-color: rgba(255, 223, 0, 0.05);
}
/* shared color styles end here */
.card{
    padding: 40px;
}
img{
    margin: 24px;
}
.card-title{
    font-size: 24px;
    font-weight: 800;
    color: rgba(13, 19, 33, 1);
    margin: 18px;
}
.card-description{
    text-align: start;
    margin: 12px;
}
a{
    margin: 12px;
    color: black;
    font-size: 16;
    font-weight: 700;
}
/* target section styles end here */

/* next-target-section styles start here */
.next-target-section{
    padding: 40px 50px;
}
.next-target-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    text-align: center;
    margin: 10px 20px 47px;
}
.next-target-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    text-align: center;
    opacity: 0.7;
    margin-bottom: 40px;
}
.skills{
    display: flex;
    background-color: white;
    gap: 20px;
    border: 1px solid rgba(13, 19, 33, 1.00);
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 24px;
}
.skills-title{
    font-size: 24px;
    font-weight: 800;
    color: rgba(13, 19, 33, 1.00);
    margin: 18px;
}
.skills-description{
    text-align: start;
    margin: 12px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}
/* next-target-section styles end here */


